<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Be HAPPY</title>
    <link rel='stylesheet' href="<%= this.FE_FILE_MAPPING['common']['css'] %>"/>
    <link rel='stylesheet' href="<%= this.FE_FILE_MAPPING['index']['css'] %>"/>
</head>
<body>
<div id="root"></div>
<script src="<%= this.FE_FILE_MAPPING['common']['js'] %>"></script>
<script src="<%= this.FE_FILE_MAPPING['index']['js'] %>"></script>
</body>
</html>